{% spaceless %}
    <!DOCTYPE html>
    <!--[if IE 8]>
    <html class="ie8"> <![endif]-->
    <!--[if IE 9]>
    <html class="ie9 gt-ie8"> <![endif]-->
    <!--[if gt IE 9]><!-->
    <html class="gt-ie8 gt-ie9 not-ie"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        {% stylesheets '@AWHSCoreBundle/Resources/public/css/fonts.css' output='css/fonts.css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}"/>
        {% endstylesheets %}
        {% stylesheets
        '@AWHSCoreBundle/Resources/public/css/bootstrap.min.css'
        '@AWHSCoreBundle/Resources/public/css/animate.css'
        '@AWHSCoreBundle/Resources/public/css/modern-black-admin.min.css'
        '@AWHSCoreBundle/Resources/public/css/widgets.min.css'
        output='css/style.css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}"/>
        {% endstylesheets %}
        {% stylesheets
        '@AWHSCoreBundle/Resources/public/css/themes.min.css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}"/>
        {% endstylesheets %}
        <style>
            .modern-black-admin {
                background-color: #1a2229;
            }

            .modern-black-admin .bordered, .modern-black-admin .panel, .modern-black-admin .table, .modern-black-admin hr {
                border-color: #0993d7;
            }
        </style>
        {% block extendCss %}{% endblock %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        {% block extendJs %}{% endblock %}
        <!--[if lt IE 9]>
        <script src="assets/javascripts/ie.min.js"></script>
        <![endif]-->
    </head>
    <body class="modern-black-admin">
    <script>var init = [];</script>
    {% block fastNavigation %}{% endblock %}
    {% block pageHeader %}{% endblock %}
    {% block content %}
    {% endblock %}
    <!--[if !IE]> -->
    <script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js">' + "<" + "/script>"); </script>
    <!-- <![endif]-->
    <!--[if lte IE 9]>
    <script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">' + "<" + "/script>"); </script>
    <![endif]-->


    {% javascripts
    '@AWHSCoreBundle/Resources/public/js/bootstrap.min.js'
    '@AWHSCoreBundle/Resources/public/js/modern-black-admin.min.js'
    output='js/main.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        init.push(function () {
            // Javascript code here
        });
        window.ModernBlackAdmin.start(init);
    </script>

    {% block extendJsBottom %}{% endblock %}
    </body>
    </html>
{% endspaceless %}